:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --primary-white-color:#ffffff;
}

body {
    background-color:var(--primary-white-color);
    color: var(--primary-text);
    font-family: 'Roboto',sans-serif;
    letter-spacing: 0.03em
}
 /*WebStudio*/
.logo-link{
    color:var(--accent-color);
    font-family: 'Raleway'sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
/* identical to box height */

letter-spacing: 0.03em;
}
.logo-header {
    color:var(--title-text-color) ;
}
/*Site nav*/
.site-nav .link {
    color: var(--primary-text-color)
    font-family: 'Roboto'sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color:var(--accent-color);
}
.site-nav .link.current {
color: var(--accent-color);
}
/*Contact nav*/
.auth-nav {
    color: var(--primary-text-color)
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
/*Hero*/
.hero-title {
    background: #2F303A;
    color:#FFFFFF ;
}
/*features*/
.features-list. title {
    color: #757575;
}
/*Button*/
.button {
    color: var(--primary-white-color);
    background-color:var(--accent-color) ;
}
.button.primary {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}