:root {

}

body {
    background-color: #fff;
    color: #757575;
}
 /*WebStudio*/
.logo-link{
    color:#2196F3;
}
.logo-header {
    color:#000000 ;
}
/*Site nav*/
.site-nav .link {
    color: #212121;
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color:#2196F3;
}
.studio-link {
    color:#2196F3;
}

/*Hero*/
.hero-title {
    background: #2F303A;
    color:#FFFFFF ;
}
/*features*/
.features-list. title {
    color: #757575;
}
/*Button*/
.button 