:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --primary-white-color:#ffffff;
}

body {
    background-color:var(--primary-white-color);
    color: var(--primary-text);
}
 /*WebStudio*/
.logo-link{
    color:var(--accent-color);
}
.logo-header {
    color:var(--title-text-color) ;
}
/*Site nav*/
.site-nav .link {
    color: var(--primary-text-color);
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color:var(--accent-color);
}
.site-nav .link.current {
color: var(--accent-color);
}
/*Hero*/
.hero-title {
    background: #2F303A;
    color:#FFFFFF ;
}
/*features*/
.features-list. title {
    color: #757575;
}
/*Button*/
.button {
    color: var(--primary-white-color);
    background-color:var(--accent-color) ;
}
.button.primary {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}